.main {
  overflow: hidden !important;
}

.parentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 200px;
  height: auto;
}

.contactsContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15%;
}

.contactItem {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row; 
}

.contactText {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-right: 10px; 
}

.contactImg {
  width: 50px;
  height: 50px;
  margin-right: 20px; 
}

.propic {
  justify-content: center;
  margin-right: 10%;
  margin-top: 0;
  align-items: center;
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  object-fit: cover;
}

/* Media query for smartphones screens */
@media only screen and (max-width: 600px) {
  .parentContainer {
    margin: 30px;
    bottom: 50px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 60%;
  }

  .contactsContainer {
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .contactItem {
    justify-content: center;
  }

  .contactText {
    font-size: 15px;
    margin-right: 5px;
    text-align: center;
  }

  .contactImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .propic {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-position: center;
  }
}

/* Media query for tablet screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .parentContainer {
    margin: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60%;
  }

  .contactsContainer {
    margin-left: 8%;
  }

  .contactItem {
    justify-content: center;
  }

  .contactText {
    font-size: 18px;
    margin-right: 5px;
    text-align: center;
  }

  .contactImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .propic {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    object-position: center;
  }
}
