@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu+Mono&display=swap");

.parentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 200px;
    height: auto;
  }
  
  .contactsContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align the contact items to the right */
    justify-content: center;
    margin-left: 15%;
  }
  
  .contactItem {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row; /* Add this line */
  }
  
  .contactText {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .contactImg {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .propic {
    justify-content: center;
    margin-right: 20%;
    margin-top: 0;
    align-items: center;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the propic circular */
    object-fit: cover; /* Prevent the propic from stretching */
  }

/* Media query for smartphones screens */
@media only screen and (max-width: 600px) {
  .parentContainer {
    margin: 50px;
  }
  
  .contactsContainer {
    margin-left: 10%;
    align-items: flex-start; /* Align the contact items to the top */
  }
  
  .contactItem {
    flex-direction: column; /* Display items in columns */
    align-items: center; /* Center align each item */
    margin-bottom: 10px; /* Add spacing between items */
  }
  
  .contactText {
    font-size: 20px;
    margin-right: 0; /* Remove right margin */
    margin-bottom: 5px; /* Add spacing between items */
  }
  
  .contactImg {
    order: 1; /* Move the image to the top */
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-bottom: 5px; /* Add spacing between items */
  }
  
  .propic {
    order: 3; /* Move the propic to the bottom */
    margin-top: 10px; /* Add spacing between items */
    width: 100%; /* Stretch the propic to fill the container */
    height: auto; /* Adjust the height automatically */
  }
}

/* Media query for tablet screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .parentContainer {
    margin: 100px;
  }
  
  .contactsContainer {
    margin-left: 12%;
  }
  
  .contactText {
    font-size: 23px;
    margin-right: 8px;
  }
  
  .contactImg {
    width: 45px;
    height: 45px;
    margin-right: 15px;
  }
  
  .propic {
    margin-right: 15%;
    width: 180px;
    height: 180px;
  }
}