@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu+Mono&display=swap");

.parentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 200px;
    height: auto;
  }
  
  .contactsContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align the contact items to the right */
    justify-content: center;
    margin-left: 15%;
  }
  
  .contactItem {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row; /* Add this line */
  }
  
  .contactText {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .contactImg {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .propic {
    justify-content: center;
    margin-right: 20%;
    margin-top: 0;
    align-items: center;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the propic circular */
    object-fit: cover; /* Prevent the propic from stretching */
  }

/* Media query for smartphones screens */
@media only screen and (max-width: 600px) {
  .parentContainer {
    margin: 30px;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .contactsContainer {
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .contactItem {
    justify-content: center;
  }

  .contactText {
    font-size: 15px;
    margin-right: 5px;
    text-align: center;
  }

  .contactImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .propic {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-position: center;
  }
}

/* Media query for tablet screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .parentContainer {
    margin: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contactsContainer {
    margin-left: 8%;
  }

  .contactItem {
    justify-content: center;
  }

  .contactText {
    font-size: 18px;
    margin-right: 5px;
    text-align: center;
  }

  .contactImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .propic {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    object-position: center;
  }
}