body {
  background-image: url("../../../public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:auto;
}

html {
  height: auto;
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

#outer-container {
  height: auto;
}

#page-wrap {
  height: auto;
}
