body {
  background-image: url("../../../public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

video{
  margin-top:0;
  margin-bottom:0;
}

a {
  text-decoration: none;
  color: inherit;
}

#outer-container {
  height: 100%;
  overflow: hidden;
}

#page-wrap {
  height: 100%;
  overflow: hidden;
}
