@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu+Mono&display=swap");

.itemlist {
  font-family: Comfortaa, monospace;
  font-weight: lighter;
  font-size: 40px;
}

.bmBurgerButton {
  position: "fixed";
  width: "40px";
  height: "35px";
  left: "80px";
  top: "107px",
}
.bmBurgerBars {
  background: "#ffff",
}

.bmBurgerBarsHover {
  background: "#a90000",
}

.bmMenuWrap{
  position: "fixed";
  height: "100%";
  left: 0;
  top: 0,
}
.bmMenu {
  background: "rgba(0,0,0,0)";
  right: "0";
  padding: "2.5em 1.5em 0";
  font-size: "1.15em";
  overflow-y: "hidden";
}

.bmMorphShape {
  fill: "#373a47",
}

.bmItemList {
  color: "#ffff";
  padding: "0.8em",
}

.bmItem {
  display: "inline-block";
  font-weight: "light";
  font-size: "30px";
}

.bmOverlay {
  background: "rgba(18, 12, 33, 0.6)";
  top: 0;
  right: 0
}

/* Media query for smartphones */
@media only screen and (max-width: 600px) {
  .itemlist {
    font-weight: lighter;
    font-size: 20px;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .itemlist {
    font-weight: lighter;
    font-size: 25px;
  }
}
