@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu+Mono&display=swap");

.item {
  font-family: Comfortaa, monospace;
  font-weight: lighter;
  font-size: 40px;
}

.bmBurgerButton {
  position: "fixed";
  width: 40px;
  height: 35px;
  left: 80px;
  top: 107px;
}

/* Media query for smartphones */
@media only screen and (max-width: 600px) {
  .item {
    font-weight: lighter;
    font-size: 20px;
  }

  .bmBurgerButton {
    position: "fixed";
    width: 40px;
    height: 35px;
    left: 50px;
    top: 100px;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .item {
    font-weight: lighter;
    font-size: 25px;
  }

  .bmBurgerButton {
    position: "fixed";
    width: 40px;
    height: 35px;
    left: 50px;
    top: 100px;
  }
}
