.container {
  margin-top: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 180%;
  height: 30vh;
}

.image {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
