.containerText {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: "Comfortaa", monospace;
  line-height: 180%;
}

.image{
  margin-top:20vh;
  width: 200px; /* Adjust the maximum width as per your requirement */
  height:200px;
  display: block;
  margin: 0 auto;
}
