.containerText {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: "Comfortaa", monospace;
  line-height: 180%;
  height:25vh;
}

.image{
  width: 100px; /* Adjust the maximum width as per your requirement */
  height:100px;
  display: block;
  margin:auto;
}
