.main {
  font-family: "Comfortaa", monospace;
  overflow-y: hidden;
}

.container {
  color: white;
  font-size: 50px;
  font-family: Comfortaa, monospace;
  line-height: 180%;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 60%;
  height: auto
} /* Media query for smartphones */

@media only screen and (max-width: 600px) {
  .main {
    padding-top: 40%;
    align-items: center;
  }

  .container {
    font-family: "Comfortaa", monospace;
    font-size: 25px;
    width: 80%;
    height: auto;
    text-align: center;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    align-items: center;
    padding-top: 40%;
    padding-bottom: -50%;
  }

  .container {
    font-family: "Comfortaa", monospace;
    font-size: 30px;
    width: 80%;
    height: auto;
    text-align: center;
  }
}
