@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu+Mono&display=swap");


.container{
  color: white;
  font-size: 50px;
  font-family: Comfortaa, monospace;
  line-height: 180%;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 60%;
  height: 80vh;

}/* Media query for smartphones */
@media only screen and (max-width: 600px) {
  .main {
    padding: 3rem;
    justify-content: flex-end;
    align-items: center;
    top:75%;
  }

  .container {
    font-size: 30px;
    width: 80%;
    height: 60vh;
    top: 75%;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    padding: 4rem;
    align-items: center;
    top:50%;
  }

  .container {
    font-size: 40px;
    width: 70%;
    height: 70vh;
    top: 75%;
  }
}


