@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu+Mono&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.type {
  font-family: Comfortaa, monospace;
  font-size: 50px;
  color: #0000;
  background: linear-gradient(-90deg, #ffff 5px, #0000 0) 10px 0,
    linear-gradient(#ffff 0 0) 0 0;
  background-size: calc(119 * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  line-height: 180%;
  animation: b 0.2s infinite steps(1), t calc(70 * 0.1s) steps(119) forwards;
}
@keyframes t {
  from {
    background-size: 0 200%;
  }
}
@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

.container {
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 70%;
  height: 80vh;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Media query for smartphones */
@media only screen and (max-width: 600px) {
  .main {
    padding: 3rem;
  }

  .type {
    font-size: 30px;
    line-height: 150%;
  }

  .container {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    padding: 4rem;
  }

  .type {
    font-size: 40px;
    line-height: 160%;
  }

  .container {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}