@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu+Mono&display=swap");

.main {
  font-family: "Comfortaa", monospace;
}

.container {
  color: white;
  font-size: 50px;
  font-family: "Comfortaa", monospace;
  line-height: 180%;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 60%;
  height: 50vh;
} 

.player-wrapper {
  width: 60%; 
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.react-player {
  padding-top: 56.25%; 
  position: relative; 
}

.react-player > div {
  position: absolute; 
}

/* Media query for smartphones */

@media only screen and (max-width: 600px) {
  .main {
    padding-top: 40%;
    align-items: center;
  }

  .container {
    font-family: "Comfortaa", monospace;
    font-size: 25px;
    width: 80%;
    height: 25vh;
    text-align: center;
  }

  .player-wrapper{
    height: auto;
    width: auto;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    align-items: center;
    padding-top: 40%;
    padding-bottom: -50%;
  }

  .container {
    font-family: "Comfortaa", monospace;
    font-size: 30px;
    width: 80%;
    height: 25vh;
    text-align: center;
  }

  .player-wrapper{
    height: auto;
    width: auto;
  }
}
