.main {
  overflow-y: scroll !important;

}

.container {
  color: white;
  font-size: 50px;
  line-height: 180%;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 60%;
  white-space: pre-wrap;
  height: 30vh;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  border-radius: 5px;
  margin-bottom: -20vh;
}

.itemContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemContainer a {
  display: block; /* Make the <a> tag block-level */
  width: auto; /* Adjust the width as needed */
  text-align: center; /* Center the content */
  margin-bottom: 5vh;
 }

.item{
border-radius:20px;
width:70%;
height: 70%;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 15%;
  border-radius: 20px;
  overflow: hidden;
}

.textCentered{
  display: flex;
  justify-content: center;
}

.playerText {
  color: white;
  font-size: 20px;
  line-height: 180%;
  white-space: pre-wrap;
  margin-top:10vh;
  text-align: justify;
  width: 1000px;
}

/* Media query for smartphones */

@media only screen and (max-width: 600px) {
  .main {
    padding-top: 40%;
    align-items: center;
  }

  .container {
    font-size: 25px;
    width: 80%;
    height: 25vh;
    text-align: center;
  }

  .reactPlayer {
    height: 100%;
    width: 100%;
  }

  .playerText {
    font-size: 10px;
  }
  
  .playerWrapper
  {
    margin-bottom: -5vh;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    align-items: center;
    padding-top: 40%;
    padding-bottom: -50%;
  }

  .container {
    font-size: 30px;
    width: 80%;
    height: 25vh;
    text-align: center;
  }

  .reactPlayer {
    height: 100%;
    width: 100%;
  }

  .playerText {
    font-size: 10px;
  }
}
